.App {
  text-align: center;
  height: 100vh;
  background: url("../thumb-1920-1039919.jpg") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  font-family: cursive;
  overflow: hidden;
}

*:focus {
  outline: 0 !important;
}

.img {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: black;
  opacity: 0.5;
  z-index: 0;
}

.index {
 color: white;
 width: 30px;
}

.index-char {
 color: white;
 margin-right: 10px;
 height: 30px;
 margin-top: 1px;
}

.first {
 margin-top: 40px;
}

.App .mContainer {
  min-width: 1000px;
  margin-top: 150px;
}

.Squares {
  width: 680px;
  height: 820px;
}
.myboard {
  margin: auto;
}

.Square {
  background: white;
  width: 30px;
  height: 30px;
  margin: 0.5px;
  padding: unset;
}

.Square:disabled {
  background-color: white;
  opacity: 1;
}

.Winner {
  display: block;
}

.PlayerX {
  color: red !important;
  font-weight: bold;
}
.PlayerO {
  color: blue !important;
  font-weight: bold;
}

.img-x {
  max-height: 120px;
}

.time {
  width: 100%;
  font-size: 20px;
}

.info {
  width: 100%;
  height: 500px;
}

.mMar {
  margin-left: 70px;
}

.name {
  text-transform: uppercase;
  background: linear-gradient(to right, #e42223 0%, #af1060 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mText {
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.undo {
  width: 50px;
  height: 50px;
  border: none !important;
}

.redSquare {
  background: greenyellow;
  width: 30px;
  height: 30px;
  margin: 0.5px;
}
.redSquare:disabled {
  background-color: greenyellow;
  opacity: 1;
}

.mList {
  min-width: 200px;
  max-height: 200px;
  overflow-y: scroll;
}

.custom {
  border: none;
  position: relative;
  display: block;
}

.char {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 5px;
  margin-left:38px;
}

.number {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left:50px;
  display: inline;

}

.SetMargin {
  margin-left: 40px;
  margin-top: 42px;
  min-width: 900px;
  min-height: 900px;
}

.iconAsc {
  font-size: 30px;
}

.sIndex {
  margin-left: 21px;
  max-width: 30px;
  color: white;
  display: inline;

}

.bIndex {
  margin-left: 14px;
  max-width: 30px;
  color: white;
  display: inline;
}

.turnRed {
  color: red;
}


.login-input {
  text-align: start;
}

.login-button {
  width: 100px;
}

.home-button {
  position: fixed;
  top: 20px;
  right: 20px;
}

.login-text{
  color: red;
}

.nexline {
  word-wrap: break-word;
  text-align: left;
}

.mtext-left {
  text-align: left;
  color: red;
}

.mtext-right {
  text-align: right;
  color: blue;
}